<!-- IG Feed -->
<section  id="igfeed">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Social Feed</h2>
          <hr class="star-primary">
        </div>
      </div>
      <div class="sponsor-flex-row">
        <div id="instafeed"></div>
        <!-- <embed-instagram-feed
            url="https://v1.nocodeapi.com/catfreak/instagram/jYThQwnyloYWneBz">
        </embed-instagram-feed> -->
      </div>
    </div>
  </section>



<script type="text/javascript">
    var feed = new Instafeed({
      accessToken: 'IGQVJVZAnNkcUhSZA2VGSjZAsbXB5bUtncmhodGpjLU9LSUl4OUd6OTRWdG5ZAb0tZAOEd1R2YyMHBBMHd4MVVXYlhlckVmd09ET3RRM3RKWWp2SmdDUndncnFVOG5FUENXZAUY0X3FhVDJXRXFoTTN0LUg2aAZDZD'
    });
    feed.run();
</script>