<!-- Bootstrap Core JavaScript -->
<script src="{{ " js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

<!-- Plugin JavaScript -->
<script src="{{ " js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ " js/jqBootstrapValidation.js" | prepend: site.baseurl }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ " js/freelancer.js" | prepend: site.baseurl }}"></script>

<!-- Disqus Comments -->
{% if site.contact == "disqus" %}
{% include js_disqus.html %}
{% endif %}

<!-- Custom JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
{% include js_ageverify.html %}
