{% include js_page.html %}

<!-- Contact Form JavaScript -->
<script src="{{ site.baseurl }}/js/jqBootstrapValidation.js"></script>
{% if site.contact == "static" %}
<script src="{{ site.baseurl }}/js/contact_me_static.js"></script>
{% else %}
<script src="{{ site.baseurl }}/js/contact_me.js"></script>
{% endif %}

<!-- Custom Theme JavaScript -->
<script src="{{ site.baseurl }}/js/freelancer.js"></script>

{% if site.contact == "disqus" %}
<!-- Disqus Stuff -->
{% include js_disqus.html %}
{% endif %}

{% include js_custom.html %}
