<!-- sponsor Modals -->
{% for post in site.posts %}
<div class="sponsor-modal modal fade" id="sponsorModal-{{ post.modal-id }}" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 offset-lg-2">
              <h2 class="modal-title">{{ post.title }}</h2>
              <hr class="star-primary">
              <img src="img/sponsor/{{ post.img }}" class="img-fluid mx-auto d-block" alt="{{ post.alt }}">
              {% if post.description %}
              <p>{{ post.description }}</p>
              {% endif %}
              <ul class="list-inline item-details">
                {% if post.client %}
                <li class="list-inline-item">Client:
                  <strong>{{ post.client }}</strong>
                </li>
                {% endif %}
                {% if post.project-date %}
                <li class="list-inline-item">Date:
                  <strong>{{ post.project-date }}</strong>
                </li>
                {% endif %}
                {% if post.category %}
                <li class="list-inline-item">Service:
                  <strong>{{ post.category }}</strong>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          <i class="fa fa-times"></i> Close
        </button>
      </div>
    </div>
  </div>
</div>
{% endfor %}
