<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <div class="container">
    <!-- Brand -->
    <a class="navbar-brand page-scroll" href="{{ "#page-top" | absolute_url }}">{{ site.title }}</a>
    
    <!-- Toggler for mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="#" style="color: #ccc; cursor: not-allowed;" onclick="return false;">Vote</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://festivalflorece.com/">Festival</a>
        </li>
        <li class="nav-item">
          <a class="nav-link page-scroll" href="{{ "#about" | absolute_url }}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link page-scroll" href="{{ "#contact" | absolute_url }}">Contact</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
